<%- model_class = User -%>
<% page_title t('shared.prompts.sign_up').html_safe %> 

<div id="signup-form">

<% if params[:fb].present? %>
  <div class="providers">
    <%- if devise_mapping.omniauthable? %>    
      <%- model_class.omniauth_providers.each do |provider| %>
        <% if provider == :facebook %>
          <%= link_to  omniauth_authorize_path(resource_name, provider), :class => 'facebook signup-form' do %>
            <i class="s i-facebook-w"></i><span><%= t('shared.prompts.sign_up_provider', :provider => provider.to_s.titleize) %></span>
          <% end %>
        <% else %>
          <%= link_to t('shared.prompts.sign_up_provider', :provider => provider.to_s.titleize), omniauth_authorize_path(resource_name, provider), :class => 'btn btn-primary' %>
        <% end %>
      <% end -%>
    <% end -%>
  </div>

  <div class="facebook_or_local"><%= t('shared.prompts.sign_in_local_or_provider') %></div>
<% end %>
  <%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:"data-form-id"=>"signup-form"}) do |f| %> 
    <%= f.semantic_errors *f.object.errors.keys %>

    <%= f.inputs do %>
      <%= f.input :email, :as => :email, :input_html => { :size => 35 , :class => "login-username" }, :placeholder => t('activerecord.attributes.user.email') , label: false %>

      <%= f.input :password, :input_html => { :size => 35 , :class => "login-password" }, :placeholder => t('activerecord.attributes.user.password'), label: false %>
      <%= f.input :password_confirmation, :input_html => { :size => 35 , :class => "login-password-confirmation" }, :placeholder => t('activerecord.attributes.user.password_confirmation'), label: false %>
    <% end %>
    
    <div class="form-group submit-row">
      <%= f.submit t('shared.prompts.sign_up2'), :class => 'btn btn-default sign-up' %>
    </div>
  <% end %>

  <div class="form-group">
    <%- if controller_name != 'sessions' %>
      <%= link_to t('shared.prompts.sign_in'), new_session_path(resource_name), :class => 'sign-in-link' %>
    <% end -%>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <div class="forgot-box">
        <%= link_to t('shared.prompts.forgot_password'), new_password_path(resource_name), :class => 'forgot-link' %>
      </div>
    <% end -%>
  </div>

</div>
