<% show_name = (can? :create, @story) ? true : false %>

<%
page_title t('shared.labels.model_object_title',
             label: t('activerecord.attributes.story.title'),
             label_value: @story.title)
%>

<div class='actions-container'>
  <%= render partial: 'shared/show_actions',
        locals: {
          object: @story,
          index_path: admin_stories_path,
          show_path: admin_story_path,
          edit_path: edit_admin_story_path
                }
  %>
</div>

<dl class="dl-horizontal">
  <dt><strong><%=t 'activerecord.attributes.story.story_type' %>:</strong></dt>
  <dd><%= I18n.t("shared.story_types.#{@story.story_type_key}") %></dd>
  <dt><strong><%=t 'activerecord.attributes.story.title' %>:</strong></dt>
  <dd><%= @story.title %></dd>
  <dt><strong><%=t 'activerecord.attributes.story.is_public' %>:</strong></dt>
  <dd><%= @story.is_public %></dd>
  <dt><strong><%=t 'activerecord.attributes.story.description' %>:</strong></dt>
  <dd><%= simple_format(@story.description) %></dd>
  <dt><strong><%=t 'activerecord.attributes.story.organization' %>:</strong></dt>
  <dd><%= @story.organization %></dd>
  <dt><strong><%=t 'activerecord.attributes.story.url' %>:</strong></dt>
  <dd><%= link_to(@story.url) if @story.url.present? %></dd>
  <dt><strong><%=t 'activerecord.attributes.story.embed_code' %>:</strong></dt>
  <dd><%= @story.embed_code.html_safe if @story.embed_code.present? %></dd>
  <dt><strong><%=t 'activerecord.attributes.story.thumbnail' %>:</strong></dt>
  <dd><%= image_tag(@story.thumbnail.url(:big)) if @story.thumbnail.exists? %></dd>
  <dt><strong><%=t 'activerecord.attributes.story.image' %>:</strong></dt>
  <dd><%= image_tag(@story.image.url(:big)) if @story.image.exists? %></dd>
</dl>
