<% object = @pledge %>
<%= semantic_form_for [:admin,object], html: {multipart: true} do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>
    <%= render layout: 'shared/form/translated_inputs',
               locals: { object: object } do |enabled_locale, enabled_locale_name| %>
      <%= f.input "title_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.pledge.title'),
                         language: enabled_locale_name) %>

      <%= f.input "why_care_#{enabled_locale}",
                  as: :text,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.pledge.why_care'),
                         language: enabled_locale_name),
                   :input_html => { :class => 'autogrow', :rows => 3  } %>

      <%= f.input "what_it_is_#{enabled_locale}",
                  as: :text,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.pledge.what_it_is'),
                         language: enabled_locale_name),
                   :input_html => { :class => 'autogrow', :rows => 3  } %>

      <%= f.input "what_you_do_#{enabled_locale}",
                  as: :text,
                  label: t('shared.labels.translated_field',
                         field: t('activerecord.attributes.pledge.what_you_do'),
                         language: enabled_locale_name),
                   :input_html => { :class => 'autogrow', :rows => 3  } %>
  
      <div class="file input optional form-group" id="pledge_image_input">
        <span class="form-label">
          <label for="pledge_image" class=" control-label"><%= t('activerecord.attributes.pledge.image') %></label>
        </span>
        <% if @pledge.image.exists? %>
          <%= image_tag(@pledge.image.url('small')) %>
        <% end %>
        <span class="form-wrapper">
          <input id="pledge_image" accept="image/*" type="file" name="pledge[image]" />
        </span>
      </div>

    <% end %>

    <%= f.input :is_public, as: :radio %>

  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, button_html: { class: 'btn btn-success' } %>
  <% end %>
<% end %>
