<%
  model_class = Pledge
  show_name = (can? :create, @pledge) ? true : false
  page_title t('activerecord.models.pledge', count: 999)
%>

<div class='actions-container'>
  <%= render partial: 'shared/index_actions',
        locals: {
          model_class: model_class,
          new_path: new_admin_pledge_path
        }
  %>
</div>

<table class='table table-striped table-hover table-nonfluid datatable-admin'>
  <thead>
    <tr>
      <th></th>
      <th><%=t 'activerecord.attributes.pledge.title' %></th>
      <th><%=t 'activerecord.attributes.pledge.image' %></th>
      <th><%=t 'activerecord.attributes.pledge.posted_at' %></th>
      <th><%=t 'activerecord.attributes.pledge.is_public' %></th>

      <th class='action-col'><%=t 'shared.common.actions' %></th>
    </tr>
  </thead>

  <tbody>
    <% @pledges.each do |pledge| %>
      <tr>
        <td>
          <%= link_to t('shared.actions.view'),
                      admin_pledge_path(pledge),
                      class: 'btn btn-default' %>
        </td>
        <td><%= pledge.title %></td>
        <td><%= image_tag(pledge.image.url(:small)) if pledge.image.exists? %></td>
        <td><%= l pledge.posted_at, format: :no_time if pledge.posted_at.present? %></td>
        <td><%= pledge.is_public? %></td>

        <td>
          <%= if can? :edit, pledge
                link_to t('shared.actions.edit'),
                        edit_admin_pledge_path(pledge),
                        class: 'btn btn-default'
          end %>

          <%= if can? :destroy, pledge
                link_to t('shared.actions.destroy'),
                        admin_pledge_path(pledge),
                        method: :delete,
                        data: { confirm: t('shared.prompts.confirm') },
                        class: 'btn btn-danger'
          end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
