<% page_title t('.title') %>

<div class='about-wrapper'>
	<div class="about-text">
		<%= simple_format(t('.intro')) %>
	</div>

	<div class="partners-wrapper">
		<h2><%= t('.partners') %>:</h2>
		<div class="partner-logos">
			<%= link_to(image_tag ('partners/cenn.png')) %>
			<%= link_to(image_tag ('partners/ecovision.png')) %>
			<%= link_to(image_tag ('partners/road_safety.png')) %>
			<%= link_to(image_tag ('partners/spectri.png')) %>
		</div>
	</div>

	<div class='usaid'>
		<div class="about-disclaimer">
			<%= t('application.footer.disclaimer') %>
		</div>

		<div class="about-usaid-logos">
			<%= link_to(image_tag ('partners/usaid.png')) %>
		</div>
	</div>
</div>
