<% page_title t 'shared.common.name' %>

<% if @highlights.present? %>
  <div class="highlights">
    <div class="highlight-items-wrapper">
      <% high_index = 0  %>
      <% @highlights.each do |highlight| %>

        <div class="highlight-item" data-index=<%= high_index %>>
          <%= link_to highlight.url do %>
           <div class='highlight-image' style='background-image: url(<%= highlight.image.url(:big) %>)'></div>
<!--             <p class='highlight-title'>
              <%= highlight.title %> 
            </p> -->
          <% end %>
        </div>
        <% high_index +=1 %>
      <% end %>
    </div>
    <a class="highlight-next-prev-button prev">
        <%= inline_svg('svg/arrow.svg') %>
    </a>

    <a class="highlight-next-prev-button next">
        <%= inline_svg('svg/arrow.svg') %>
    </a>

    <% $i = 0 %>
    <div class="highlight-buttons">
      <% while $i < high_index  do %>
          <a href="#" class="highlight-item-button" data-index=<%= $i %>> 
            <!-- <div> </div> -->
          </a>
       <% $i +=1 %>
      <% end %>
    </div>

  </div>
<% end %>

<% if @stories.present? %>

  <div id="filter" class='filter'>  
    <div class="mob">
      <div class="search">
        <%= form_tag root_path, :method => :get, :id => 'search-filter', :role => "search" do %>
          <input autocomplete="off" class="search-input" id="q" name="q" placeholder="<%= t('shared.common.search') %>" tabindex="1" type="text" value="<%= params[:q] %>">
        <% end %>  
      </div>
      <div class="filters"><%= t('shared.filters.filters') %><i class='s i-caret-b'></i></div>
    </div>

    <ul class="nav h">
      <li class="li-sort-label"><span class="sort-label"><%= t('shared.filters.filter_header') %>:</span></li>
      <li class="dropdown dropdown-hover story-types afilter">
        <a href="#" class="dropdown-toggle<%= params[:type].nil? ? '' : ' selected' %>" 
          data-toggle="dropdown" tabindex="15" title="<%= t('shared.filters.story_type_title') %>"
          data-filtered-by="<%= params[:type] %>" 
          data-filter-type="category" data-filter-default-label="<%= t('shared.filters.story_type_header') %>"
          data-filter-default="no_filter">
        <span><%= params[:type].nil? ? t('shared.filters.no_filter') : I18n.t("shared.story_types.#{params[:type]}") %></span><i class='s i-caret-b'></i></a>
        <ul class="dropdown-menu afilter-list">          
          <li class="dropdown">
            <%= link_to I18n.t('shared.filters.no_filter'), url_for(params.merge(:type => nil)), :class => params[:type].nil? ? 'active' : '', :"data-filter" => 'no_filter' %>
          </li>
          <% I18n.t('shared.story_types').each do |key, value| %>
            <li class="dropdown">
              <%= link_to value, url_for(params.merge(:type => key)), :class => params[:type] == key.to_s ? 'active' : '', :"data-filter" => key %>
            </li>
          <% end %>
        </ul>
      </li>

      <li class="li-sort-label"><span class="sort-label"><%= t('shared.filters.sort_header') %>:</span></li>
      <li class="dropdown dropdown-hover sort afilter">
        <a href="#" class="dropdown-toggle<%= params[:sort].nil? ? '' : ' selected' %>" 
            data-toggle="dropdown" tabindex="17"  title="<%= t('shared.filters.sort_title') %>"
            data-filtered-by="<%= params[:sort] %>" data-filter-type="sort" 
            data-filter-default="recent">
          <span><%= params[:sort].nil? ? t('shared.filters.sort.recent') : I18n.t("shared.filters.sort.#{params[:sort]}") %></span><i class='s i-caret-b'></i></a>
        <ul class="dropdown-menu afilter-list">
          <% I18n.t('shared.filters.sort').each do |key, value| %>
            <li class="dropdown">
              <%= link_to value, url_for(params.merge(:sort => key)), :class => params[:sort] == key.to_s || (params[:sort].nil? && key.to_s == 'recent') ? 'active' : '', :"data-filter" => key %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>      
  </div>

  

  <div class="stories-grid">
    <% @stories.each do |story| %>
      <div class="stories-grid-item">
        <%= link_to story, class: 'story-link' do%>
          <div class="story-image" >
            <div class='story-image-attr'>
              <%= image_tag(story_icon(story), alt: story.story_type_key, width: 35, class: "story-icon") %>
              <span class='story-title'>
                  <%= story.title %>
               </span>
            </div>
            <div class='story-image-effect' style='background-image: url(<%= story.thumbnail.url(:big) %>)'></div>
          </div>
          <div class='story-info'>
            <p class='date'><%= l story.posted_at if story.posted_at.present? %></p>
            <p class='story-description'><%= truncate(strip_tags(story.description), length: 100, separator: ' ') %></p>
          </div>
        <% end %>
        
      </div>
    <% end %>
  
    <div class='pages-numbers'>
      <%= paginate @stories %>
    </div>

  </div>

<% else %>

  <div><%= t('.no_stories') %></div>

<% end %>