<% page_title t 'shared.common.name' %>

<% if @highlights.present? %>
  <div class="highlights">
  <% high_index = 0  %>
  <% @highlights.each do |highlight| %>

    <div class="highlight-item" data-index=<%= high_index %>>
      <%= link_to highlight.url do %>
        <div class='highlight-image' style='background-image: url(<%= highlight.image.url(:big) %>)'></div>
        <p class='highlight-title'>
          <%= highlight.title %>
        </p>
      <% end %>
    </div>
    <% high_index +=1 %>
  <% end %>
  
    <button class="highlight-next-prev-button prev">
      <span class='icon'> </span>
    </button>
    <button class="highlight-next-prev-button next">
      <span class='icon'> </span>
    </button>

    <% $i = 0 %>
    <div class="highlight-buttons">
      <% while $i < high_index  do %>
          <button class="highlight-item-button" data-index=<%= $i %>> </button>
       <% $i +=1 %>
      <% end %>
    </div>

  </div>
<% end %>

<% if @stories.present? %>
  <div class="stories-grid">
    <% @stories.each do |story| %>
      <div class="stories-grid-item">
        <div><%= link_to(image_tag(story.thumbnail.url(:big)),story) %></div>
        <div><%= link_to story.title, story %></div>
        <div><%= truncate(strip_tags(story.description), length: 150, separator: ' ') %></div>
        <div><%= l story.posted_at %></div>
      </div>
    <% end %>
  
    <%= paginate @stories %>

  </div>

<% else %>

  <div><%= t('.no_stories') %></div>

<% end %>