<% 
  @show_page_title = false 
  page_title @pledge.title 
  model_class = Pledge
%>


<div class='pledge-wrapper' data-made-pledge="<%= params[:make_pledge] == 'success' %>">

  <h1  class="pledge-name" > <%= @pledge.title%> </h1>

  <div class='image' style='background-image: url(<%= @pledge.image.url(:big) %>) '
      data-start="opacity: 1" data-600-start="opacity: 0"
      >
  </div>

  <div class='pledge-texts'>
    <% if @pledge.what_it_is.present? %>
      <div class='what-is'>
       <%= inline_svg('svg/pledge_icons/question.svg',  class: "icon question") %>
        <h2><%= model_class.human_attribute_name(:what_it_is) %>:</h2>
        <%= simple_format @pledge.what_it_is %>
      </div>
    <% end %>

    <% if @pledge.what_you_do.present? %>
      <div class='what-do'>
        <%= inline_svg('svg/pledge_icons/list.svg',  class: "icon do") %>
        <h2><%= model_class.human_attribute_name(:what_you_do) %>:</h2>
        <%= simple_format @pledge.what_you_do %>
      </div>
    <% end %>


    <% if @pledge.why_care.present? %>
      <div class='why-care'>
        <%= inline_svg('svg/pledge_icons/care.svg',  class: "icon care") %>
        <h2><%= model_class.human_attribute_name(:why_care) %>:</h2>
        <%= simple_format @pledge.why_care %>
      </div>
    <% end %>

  </div>

  <% if @pledge.pledge_count > 0 %>
    <div class="pledge-count">
      <span><%= t('.pledge_count') %>:</span>
      <%= number_with_delimiter(@pledge.pledge_count) %>
    </div>
  <% end %>

  <% if user_signed_in?  && @pledge.has_made_pledge?(current_user) %>
    <div class="made-pledge">
      <%= t('.made_pledge') %>
    </div>
  <% else %>
    <div class='make-pledge'>
      <%= link_to t('.make_pledge'), make_pledge_path(@pledge) %> 
    </div>
  
  <% end %>



  <div class='share'>
    <%= link_to(image_tag("share_fb.png", width: 50),
          "https://www.facebook.com/share.php?u=#{current_url(false)}",
          :title => "facebook", :target => "_blank") %>
    <%= link_to(image_tag("share_twitter.png", width: 50),
          "https://twitter.com/share?url=#{current_url(false)}", :title => "twitter",
          :target => "_blank") %>
  </div>
</div>

<a class="fb-inline" href="#fb-inline-content" style="display:none;"></a>
<div id='fb-inline-content' style="display:none;">
 <h2><%= t('.pledge_success.header') %></h2>
 <p><%= t('.pledge_success.ask') %></p>
  <div class='share'>
    <%= link_to(image_tag("share_fb.png", width: 50),
          "https://www.facebook.com/share.php?u=#{current_url(false)}",
          :title => "facebook", :target => "_blank") %>
    <%= link_to(image_tag("share_twitter.png", width: 50),
          "https://twitter.com/share?url=#{current_url(false)}", :title => "twitter",
          :target => "_blank") %>
  </div>
</div>


<% if @pledges.present? %>
  <div class="all-pledges">
    <h2><%= t('.all_pledges') %></h2>
    <ul>
      <% @pledges.each do |pledge| %>
        <li>
          <%= link_to pledge_path(pledge) do %>
            <div><%= image_tag pledge.image.url(:small) %></div>
            <div><%= pledge.title %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

