<% 
  @show_page_title = false 
  page_title @pledge.title 
  model_class = Pledge
%>


<div class='pledge-wrapper' data-made-pledge="<%= params[:make_pledge] == 'success' %>">

  <h1  class="pledge-name" > <%= @pledge.title%> </h1>

  <div class='image' style='background-image: url(<%= @pledge.image.url(:big) %>) '
      data-300-top="opacity: 1" data-top-bottom="opacity: 0" >
  </div>

  <div class='pledge-texts'>
    <% if @pledge.what_it_is.present? %>
      <div class='what-is' data-300-top="opacity: 1" data-top-bottom="opacity: 0">
       <%= inline_svg('svg/pledge_icons/question.svg',  class: "icon question") %>
        <h2><%= model_class.human_attribute_name(:what_it_is) %>:</h2>
        <%= simple_format @pledge.what_it_is %>
      </div>
    <% end %>

    <% if @pledge.what_you_do.present? %>
      <div class='what-do' data-300-top="opacity: 1" data-top-bottom="opacity: 0">
        <%= inline_svg('svg/pledge_icons/list.svg',  class: "icon do") %>
        <h2><%= model_class.human_attribute_name(:what_you_do) %>:</h2>
        <%= simple_format @pledge.what_you_do %>
      </div>
    <% end %>


    <% if @pledge.why_care.present? %>
      <div class='why-care' data-300-top="opacity: 1" data-top-bottom="opacity: 0">
        <%= inline_svg('svg/pledge_icons/care.svg',  class: "icon care") %>
        <h2><%= model_class.human_attribute_name(:why_care) %>:</h2>
        <%= simple_format @pledge.why_care %>
      </div>
    <% end %>

  </div>

  <% if @pledge.pledge_count > 0 %>
    <div class="pledge-count">
      <span><%= t('.pledge_count') %>:</span>
      <%= number_with_delimiter(@pledge.pledge_count) %>
    </div>
  <% end %>

  <% if user_signed_in?  && @pledge.has_made_pledge?(current_user) %>
    <div class="made-pledge">
      <%= t('.made_pledge') %>
    </div>
  <% else %>
    <div class='make-pledge'>
      <%= link_to  make_pledge_path(@pledge) do%> 
        <%= t('.make_pledge') %>
      <% end %>
    </div>
  
  <% end %>



  <div class='share'>
    <div class="addthis_share_toolbox"  addthis:url="<%= current_url %>">
        <a class="addthis_button_facebook"></a> 
        <a class="addthis_button_twitter"></a> 
        <a class="addthis_button_email"></a>
    </div>
  </div>
</div>


<a class="fb-inline" href="#fb-inline-content" style="display:none;"></a>
<div id='fb-inline-content' style="display:none;">
 <h2><%= t('.pledge_success.header') %></h2>
 <p><%= t('.pledge_success.ask') %></p>
  <div class='share'>
    <div class="addthis_share_toolbox"  addthis:url="<%= current_url %>">
        <a class="addthis_button_facebook"></a> 
        <a class="addthis_button_twitter"></a> 
        <a class="addthis_button_email"></a>
    </div>
  </div>

</div>

<div id="fb-root"></div>


<% if @pledges.present? %>
<div class='all-pledges-wrapper'>
    <h2 class='all-pledges-title'> <%= t('.all_pledges') %> </h2>
    <div class="all-pledges">
      <% @pledges.each do |pledge| %>
            <div>
              <%= link_to pledge_path(pledge), class: "pledge-link" do %>
                <div class='image' style='background-image: url("<%= pledge.image.url(:small) %>")'></div>
                <div class='pledge-title'><%= pledge.title %></div>
              <% end %>
            </div>
      <% end %>
    </div>
</div>
<% end %>


<div class="fb-comments" data-href="<%= current_url(false) %>" data-num-posts="5" data-width="100%" style='width: 100%;'></div>
