<footer class='app-footer'>
	<% if params[:controller] == "root" && params[:action] != "pledge" && @latest_pledge.present? %>
		<div class="pledge-footer-wrap">
			<div class='pledge-footer'>
				  <%= link_to pledge_path(@latest_pledge) do%>
				  	<p> 
				  	<%= t('.pledge') %>
				  	</p>
				  <%end%>
		    </div>
		</div>
	<% end %>


	<div class='default'>
		<div class='app-footer-left'>
			<p class='date'>&copy; <%= Time.now.year %></p>
		  <div class='share'>
		    <div class="addthis_share_toolbox"  addthis:url="<%= root_url %>">
		        <a class="addthis_button_facebook"></a> 
		        <a class="addthis_button_twitter"></a> 
		        <a class="addthis_button_email"></a>
		    </div>
		  </div>
		 </div>
		 

		<% if params[:controller] == "root" && params[:action] != "about" %>
			<div class='usaid'>
				<div class="disclaimer">
					<div class='text'> <%= t('.disclaimer') %> </div>
					<div class='triangle'> </div>
				</div>

				<div class="usaid-logos">
					<%= link_to(image_tag ('partners/usaid.png')) %>
				</div>
			</div>
		<% end %>

		  <%= link_to image_tag('jumpstart-logo.png'), 
		              'http://jumpstart.ge',
		              target: '_blank',
		              class: 'app-footer-right',
		              title: t('shared.common.jumpstart.slogan') %>
	</div>
</footer>
