<div class="navbar-wrapper">
  <div id='navbar-container' class="container">
    <ul class="navbar-left">

      <%= link_to root_path, class: 'navbar-logo' do%>
          <%= image_tag 'filter_logo_lungs.svg', class: "logo-with-lungs" %>
          <%= image_tag "filter_logo_letters_#{I18n.locale}.svg", class: "logo-with-letters" %>
      <% end %>

    </ul>


    <button type="button" class="dropdown-button" >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class='navbar-right'>
        <li>
          <form accept-charset="UTF-8" action="<%= root_path %>" id="navbar-search-form" class='search-form' method="get" role="search">
            <button class='search-button'><%= inline_svg('svg/search_b.svg',  class: "search-icon") %></button>
            <input autocomplete="off" class="search-input" id="q" name="q" tabindex="1" type="text" value="<%= params[:q] %>">
          </form>
        </li>


        <% if @latest_pledge.present? %>
          <% img =  image_path("sky.jpg") %>
          <li class="pledge-button">
               <%= link_to t('.pledge'), pledge_path(@latest_pledge)%>
          </li>
        <% end %>

        <li><%= link_to t('.about'), about_path  %></li>


        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" id="user-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <%= image_tag('user.png') %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% if current_user.is?(['super_admin', 'site_admin', 'content_manager']) %>
                <li><%= link_to t('shared.links.page_contents'), admin_page_contents_path %></li>
              <% end %>
              <% if current_user.is?(['super_admin', 'site_admin']) %>
                <li><%= link_to t('activerecord.models.user', count: 999), admin_users_path %></li>
              <% end %>
              <li>
                <%= link_to t('.account.logout'),
                            destroy_user_session_path,
                            method: :delete %>
              </li>
            </ul>
          </li>
        <% end %>


        <li class='language-switcher-container'>
          <ul class='language-switcher'>
            <% I18n.available_locales.each do |locale| %>
              <li class='language-switcher-item <%= "is-active" if I18n.locale == locale %>'>
                <% is_active = I18n.locale == locale ? 'is-active' : '' %>

                <%= link_to t("shared.locale.short.#{locale}"),
                          url_for(locale: locale),
                          class: "language-switcher-item-link #{is_active}",
                          title: t("shared.locale.long.#{locale}") %>
              </li>
            <% end %>
          </ul>
        </li>



      </ul>


  </div>
</div>


